@font-face{
    font-family:"Elisabethische";
    src:url(/fonts/Elisabethische/Elisabethische.ttf) format("truetype");
    font-weight:400;
}
@font-face{
    font-family:"Cormorant Garamond";
    src:url(/fonts/Cormorant/CormorantGaramond-Bold.ttf) format("truetype");
    font-weight:700;
}
@font-face{
    font-family:"Cormorant Garamond";
    src:url(/fonts/Cormorant/CormorantGaramond-Regular.ttf) format("truetype");
    font-weight:400;
}
@font-face{
    font-family:"Cormorant Garamond";
    src:url(/fonts/Cormorant/CormorantGaramond-Medium.ttf) format("truetype");
    font-weight:500;
}
@font-face{
    font-family:"Cormorant Garamond";
    src:url(/fonts/Cormorant/CormorantGaramond-SemiBold.ttf) format("truetype");
    font-weight:600;
}
@font-face{
    font-family:"Cormorant Garamond";
    src:url(/fonts/Cormorant/CormorantGaramond-Light.ttf) format("truetype");
    font-weight:300;
}
@font-face{
    font-family:"Myanmar MN";
    src:url(/fonts/Myanmar1.ttf) format("truetype");
    font-weight:400;
}
@font-face{
    font-family:"Myanmar MN";
    src:url(/fonts/Myanmar1.ttf) format("truetype");
    font-weight:500;
}