.about {
    padding-top: 200px;
    &__img-block {
        position: relative;
        width: 40%;
    }
    &__descr-block {
        position: relative;
        width: 60%;
    }
    &__text-block {
        position: absolute;
        top: 136px;
        left: 166px;
    }
    &__title {
        color: #313131;
    }
    &__img {
        display: none;
        width: 100%;
        height: 1400px;
        object-fit: cover;
        z-index: -2;
        &.active {
            display: block;
        }
    }
    &__list {
        position: absolute;
        right: 166px;
        top: 160px;
        list-style-type: none;
    }
    &__item {
        position: relative;
        color: #FFF;
        font-family: "Cormorant Garamond";
        font-size: 22px;
        font-weight: 500;
        cursor: pointer;
        &.active {
            &::before {
                content: '';
                position: absolute;
                top: 32px;
                width: 1120px;
                height: 1px;
                background: #313131;
            }
        }
    }
    &__descr {
        max-width: 650px;
        margin-top: 35px;
        color: #313131;
        font-family: "Cormorant Garamond";
        font-size: 22px;
        font-weight: 500;
    }
    &__tab {
        display: none;
        &.active {
            display: block;
        }
    }
    &__text {
        &-mobile {
            margin-top: 64px;
            display: none;
            .line {
                display: none;
                margin-top: 18px;
            }
            &-faq {
                cursor: pointer;
            }
            &-title {
                color: var(--white-grey, #838383);
                font-family: "Cormorant Garamond";
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                cursor: pointer;
                margin-bottom: 36px;
            }
            &-descr {
                margin-top: 24px;
                display: none;
                color: var(--grey, #313131);
                font-family: "Cormorant Garamond";
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                
            }
        }
        &-mobile .active {
            .about__text-mobile-descr {
                display: block;
                margin-bottom: 36px;
            }
            .about__text-mobile-title {
                margin-bottom: 0;
                color: var(--grey, #313131);
            }
            .line {
                display: block;
            }
        }
    }
}

@media (max-width: 992px) {
    .about {
        &__img {
            height: 900px;
        }
        &__list {
            right: 100px;
        }
        &__text-block {
            padding: 0 20px;
            left: 100px;
        }
    }
}

@media (max-width: 768px) {
    .about {
        padding: 0;
        &__img {
            &-block {
                width: 100%;
            }
            height: 1100px;
        }
        &__list {
           display: none;
        }
        &__text-block {
            padding: 0 0;
            position: relative;
            left: auto;
            top: auto;
        }
        &__descr-block {
            width: 100%;
            padding: 0 20px;
        }
        &__offer {
            flex-direction: column;
        }
        &__item {
            &.active {
                &::before {
                   display: none;
                }
            }
            color: #313131;
          
        }
        &__text {
            &-mobile {
                display: block;
            }
            &-block {
                display: none;
            }           
        }
    }
}