.accessory {
    &__slider {
        overflow: hidden;
    }
    &__items {
        margin: 0 auto;
        flex-wrap: nowrap;
        flex-shrink: 0;
        // overflow: hidden;
    }
    &__item {
        transition: .3s all;
    }
    &__img {
        width: 100%;
        height: 490px;
        object-fit: cover;
    }
    &__wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }
    &__descr {
        color:#313131;
        font-family: "Cormorant Garamond";
        font-size: 22px;
        font-weight: 500;
    }
    .swiper-slide {
        flex-shrink: 0;
    }
}

@media (max-width: 768px) {
    .accessory {
    
    }
}

@media (max-width: 576px) {
    .accessory {
        &__descr {
            font-size: 12px;
        }
        &__img {
            height: 220px;
        }
        .swiper-slide .accessory__item {
            scale: .8;
        }
        .swiper-slide.swiper-slide-active .accessory__item {
            scale: 1;
        }
    }
}