.delivery {
    padding: 250px 0 100px 0;
    &__wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }
    .h1 {
        color: #313131;
    }
    &__box {
        gap: 100px;
        margin-top: 64px;
        &:nth-child(1) {
            margin-top: 150px;
        }
        &-item {
            
            color: #313131;
            font-family: "Cormorant Garamond";
            font-size: 22px;
            font-weight: 500;
        }
        .mw-none {
            max-width: none;
        }
        
    }
    .w-300 {
        width: 300px;
        min-width: 300px;
    }
}

@media (max-width: 768px) {
    .delivery {
        padding: 100px 0 0 0;
        &__box {
            flex-direction: column;
            gap: 25px;
            margin-top: 25px;
            &-item {
                font-size: 12px;
            }
            
        }
        .w-300 {
            width: auto;
            min-width: auto;
        }
    }
}

@media (max-width: 576px) {
    .delivery {
        &__title {
            margin-bottom: 50px;
        }
    }
}