.gallery {
    &__title {
        margin: 0 auto;
        margin-top: 33px;
        width: 400px;
        text-align: center;
    }
    &__box {
        margin-top: 100px;
        justify-content: center;
    }
    &__item {
        height: 880px;
        width: calc(33% - 20px);
        object-fit: cover;
        object-position: center center;
        transition: transform 0.2s ease-out;
    }
    &__img {
        width: 25%;
        height: 600px;
        object-fit: cover;
    }
}

@media (max-width: 992px) {
    .gallery {
        &__item {
            display: none;
            width: 100%;
            &:nth-child(1) {
                display: block;
            }
        }
        &__img {
            width: 50%;
        }
    }
}

@media (max-width: 576px) {
    .gallery {
        padding-bottom: 0;
        &__title {
            display: block;
            width: 80%;
            margin: 0 auto;
            margin-top: 17px;
        }
        &__box {
            margin-top: 50px;
        }
        &__img {
            width: 33.3%;
            height: 200px;
            &:nth-child(4) {
                display: none;
            }
        }
    }
}